node_modules/
**/appsettings.json
**/appsettings.Development.json
**/bin
**/obj
**/inserir_eventos.py
**/Dockerfile
**/.dockerignore
**/SeedController.cs
**/Scripts
**/launchSettings.json
*.user
*.suo
.vs/